/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header.header {
  font-family: "Big Shoulders Text", cursive;
  font-weight: 900;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
header.header img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
header.header div.header-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}
header.header div.header-items .text {
  z-index: 2;
  font-family: "Big Shoulders Text", cursive;
  font-size: 5rem;
  font-weight: 900;
  color: white;
  text-align: center;
}
header.header div.header-items #btn {
  font-size: 1.5rem;
  border: solid 1px #197ba8;
  background: none;
  width: 35%;
  margin-top: 20px;
}
header.header div.header-items #btn:hover {
  background: #197ba8;
  color: white;
  cursor: pointer;
}
header.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px #273138, inset -120px -100px 250px #273138;
}
header nav {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
header nav img.logo {
  z-index: 2;
  margin: 10px 0px;
  width: 100%;
  height: 100%;
}
header nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
}
header nav ul li {
  margin: 10px 25px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
header nav ul li a:hover {
  color: grey;
}
footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 50vh;
  font-family: "Big Shoulders Text", cursive;
}
footer div.footer-menu nav ul li {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer div.footer-menu nav ul li a {
  color: white;
  text-decoration: none;
}
footer div.social-ctn {
  display: flex;
  flex-flow: column;
  text-align: center;
}
footer div.social-ctn img.footer-logo {
  width: 70%;
  margin-bottom: 30px;
}
footer div.social-ctn div.social-links {
  margin-bottom: 30px;
}
footer div.social-ctn div.social-links a {
  color: white;
  text-decoration: none;
}
footer div.social-ctn div.social-links a i {
  font-size: 2rem;
  margin: 0 10px;
}
footer div.social-ctn a {
  color: white;
  text-decoration: none;
}
footer div.misc {
  display: flex;
  flex-flow: column;
}
footer div.misc a {
  color: white;
  margin-bottom: 30px;
  text-decoration: none;
}
section.pictures {
  display: flex;
  flex-flow: row nowrap;
  height: 250px;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 150px;
}
section.pictures div {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 23%;
  height: 100%;
  border-radius: 10%;
  background: #ebeced;
  margin: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px #dedbde;
  -moz-box-shadow: 10px 10px 5px 0px #dedbde;
  box-shadow: 10px 10px 5px 0px #dedbde;
}
section.pictures div i {
  font-size: 2rem;
  color: #197ba8;
}
section.pictures div h4 {
  color: #197ba8;
  font-family: "Big Shoulders Text", cursive;
}
section.pictures div p {
  color: #197ba8;
  padding: 10px 10px;
  font-family: "Big Shoulders Text", cursive;
}
section.carousel-container {
  width: 100vw;
  height: 700px;
  margin-top: 25px;
}
section.carousel-container .carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
section.carousel-container .carousel .item {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
section.carousel-container .carousel .slide-in {
  -webkit-transform: translate3d(-100%, 0px, 0px);
  -moz-transform: translate3d(-100%, 0px, 0px);
  -ms-transform: translate3d(-100%, 0px, 0px);
  -o-transform: translate(-100%, 0px, 0px);
  transform: translate3d(-100%, 0px, 0px);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -moz-transition: -moz-transform 0.5s ease-out;
  -ms-transition: -ms-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  z-index: 1;
}
section.carousel-container .carousel .slide-in:target,
section.carousel-container .carousel .slide-in:focus {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  z-index: 2;
}
section.carousel-container .carousel .slide-in:target ~ .slide-in {
  -webkit-transform: translate3d(90%, 0px, 0px);
  -moz-transform: translate3d(90%, 0px, 0px);
  -ms-transform: translate3d(90%, 0px, 0px);
  -o-transform: translate(90%, 0px, 0px);
  transform: translate3d(90%, 0px, 0px);
}
section.carousel-container .carousel .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 5;
}
section.carousel-container .carousel .controls .btn {
  color: #333;
  font-size: 3em;
  text-decoration: none;
}
section.carousel-container .carousel .red {
  transform: translate3d(0px, 0px, 0px);
  background: url("../images/20190526_104636.jpg") no-repeat;
  background-size: cover;
}
section.carousel-container .carousel .green {
  background: url("../images/20190828_181325.jpg") no-repeat;
  background-size: cover;
}
section.carousel-container .carousel .yellow {
  background: url("../images/20190906_120307.jpg") no-repeat;
  background-size: cover;
}
section.carousel-container .carousel .blue {
  background: url("../images/20191013_090447\ \(1\).jpg") no-repeat;
  background-size: cover;
}
section.carousel-container .carousel .black {
  background: url("../images/20191013_143436\ \(1\).jpg") no-repeat;
  background-size: cover;
}
section.carousel-container .carousel .biege {
  background: url("../images/20191013_143441\ \(1\).jpg") no-repeat;
  background-size: cover;
}
section#contact {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-family: "Big Shoulders Text", cursive;
}
section#contact h1 {
  font-size: 3rem;
}
section#contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section#contact form p {
  width: 30%;
  margin-top: 50px;
  margin-bottom: 50px;
}
section#contact form p label {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}
section#contact form p label input {
  width: 100%;
  height: 30px;
}
section#contact form p label textarea {
  width: 100%;
  height: 40px;
}
section#contact hr {
  width: 100%;
  border: solid 1px black;
}
